{% extends "base.html" %}
{% block title %}
Login
{%endblock%}

{% block content %}

<div class="container">
    <br>
    <div class="text-center">

        <div class="row justify-content-center">
            <div class="col-5">

                <div class="card shadow-sm p-4">
                    <form method="POST" action="{{ url_for('login_page') }}" class="form-register">
                        {{ form.hidden_tag() }}
                        <h2>Log in</h2>
                        <br>
                        <div class="mb-3">
                        {{ form.username(class="form-control", placeholder=form.username.label.text)}}
                        </div>

                        <div class="mb-3">
                        {{ form.password(class="form-control", placeholder=form.password.label.text)}}
                        </div>

                        <div class="mb-3 text-start form-check">
                        {{ form.remember_me(class="form-check-input")}} {{form.remember_me.label(class="form-check-label small")}}
                        </div>

                        <button type="submit" class="btn btn-primary w-100 mt-3">Log in</button>

                        <h6 class="mt-4">Do not have an account yet? <a href="{{ url_for('register_page') }}"> Register</a> </h6>


                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

{%endblock%}